$text: #81b29a; // Deep slate blue
$background: #3d405b; // sage green
$primary: #f4f1de; // antique white
$accent: #e07a5f; // terra cotta

$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;
